<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="{{ '/_pagefind/pagefind-ui.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">

  {% if page.extra_css %}
    {% for css_file in page.extra_css %}
      <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ css_file }}.css">
    {% endfor %}
  {% endif %}

  {% if page.custom_css %}
    <style type="text/css">
      {{ page.custom_css }}
    </style>
  {% endif %}

  <link rel="shortcut icon" href="{{ '/images/favicon.ico' | prepend: site.baseurl }}" />
</head>
