{% for kit_version in site.data.kit_versions %}
  {% assign version = kit_version.version %}
  {% if forloop.first %}
  <h2><code><strong>{{ version }}</strong> ({{ kit_version.released | date_to_string }})</code> </h2>
  {% else %}
  <h2><code>{{ version }} ({{ kit_version.released | date_to_string }})</code></h2>
  {% endif %}
  <a class="kit-download-link" data-version="{{ version }}" href="https://github.com/srobo/robot-image/releases/download/v{{ version }}/srobo-image-robot-{{ version }}.img.xz">
      Download {{ version }}
  </a>
  <ul>
  {% for log in kit_version.changelog %}
    <li>{{log }}</li>
  {% endfor %}
  </ul>
{% endfor %}