.doc {
  overflow: hidden;

  h1 {
    font-size: $beta;
    margin-bottom: 0;
  }

  h2 {
    font-size: $delta;
    margin: 2em 0 1em;
  }

  h3 {
    font-size: $echo;
    margin: 1em 0 .5em;
  }

  h1, h2, h3, h4, h5, h6 {
    clear: both;
  }

  p {
    color: $sr-black;
    font-size: $echo;
    margin: $charlie 0;

    &.article-info {
      display: block;
      margin: 0;
      color: #9e9e9e;
      font-size: $foxtrot;
      margin: .1em 0;
    }
  }

  blockquote {
    position: relative;
    font-size: 1.1em;
    font-style: italic;
    padding: 0 20px 0 80px;
    quotes: "\201C" "\201D" "\2018" "\2019";

    &:before {
      position: absolute;
      left: 20px;
      top: 30px;
      content: "\201C";
      font-size: 2em;
      font-weight: bold;
      line-height: 0.1em;
    }

    @media (max-width: 800px) {
      padding: 0 20px;

      &:before {
        display: none;
      }
    }

    p {
      color: lighten($sr-black, 40%);
      display: inline;
    }
  }

  img {
    display: block;
    margin: 0 auto 10px;
    width: initial;
    max-width: 100%;

    &.left {
      float: left;
      margin-right: 10px;
    }
    &.right {
      float: right;
      margin-left: 10px;
    }
  }

  iframe.video {
    background: white;
    border: 1px solid silver;
    padding: 3px;

    @include media-query('medium') {
      min-height: 480px;
    }
  }

  ul, ol {
    margin: 1.2em 0 1.2em 40px;

    li {
      margin: 0.3em 0;
    }
  }

  dl {
    margin: 1.2em 0 1.2em 0.5em;

    dd {
      margin-left: 2em;
      margin-bottom: 0.5em;
    }
    dt {
      font-weight: bold;
    }
  }

  table {
    font-size: 0.8em;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 40%;

    @include media-query("medium") {
      width: auto;
    }

    th, td {
      padding: 0.5em;
    }

    thead {
      color: $sr-blue;
    }

    th {
      text-align: left;
      border-bottom: 2px solid $sr-blue;
    }

    tr {
      background: white;

      &:nth-child(even) {
        background: $sr-grey;
      }
    }
  }
}
