.site-header {
  background: white;
  overflow: hidden;
  padding: 0 $spacing;
}

.logo {
  vertical-align: middle;

  &.desktop-only {
    width: 333px;
    height: 55.5px;
  }

  &.mobile-only {
    width: 55.5px;
    height: 55.5px;
  }
}

.site-title {
  color: black;
  padding: 2px 0;
  font-family: $heading-font-family;
  font-weight: 400;
  float: left;
  font-size: 2.6em;
  text-decoration: none;
}
