$info: $sr-blue;
$error: #BF433A;

%message {
  padding: 1em 1em;
  border-top: 1px solid $sr-light-grey;
  border-bottom: 1px solid $sr-light-grey;
}

.info {
  @extend %message;
  background: transparentize($info, 0.8);
  border-color: $info;
  color: $info;

  p {
    // Prevent our custom styles being overwritten if a div
    // has markdownenabled="1"
    color: $info;
    margin: 0;
    font-size: 1rem;
  }
}

.warning {
  @extend %message;
  background: transparentize($error, 0.8);
  border-color: $error;
  color: $error;

  p {
    // Prevent our custom styles being overwritten if a div
    // has markdownenabled="1"
    color: $error;
    margin: 0;
    font-size: 1rem;
  }
}
