@import "layout";

.navigation {
  overflow: hidden;

  li {
    list-style: none;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
}

.site-navigation {
  @extend .navigation;

  ul {
    float: right;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 100%;
  }

  li {
    display: block;

    @include media-query("medium") {
      display: inline-block;
    }
  }

  a {
    border-radius: 5px;
    display: block;
    color: $sr-blue;
    font-family: $main-font-family;
    font-size: $foxtrot;
    font-weight: bold;
    padding: 18px 18px;
    margin: 10px 2px;
    text-transform: uppercase;

    &:hover {
      color: $sr-orange;
    }
  }
}

.home-navigation {
  a {
    color: $sr-white;

    &:hover {
      background: $sr-white;
      color: $sr-blue;
    }
  }
}

.full-navigation {
  &.mobile-collapsed {
    @extend .desktop-only;
  }
  &:not(.mobile-collapsed) {
    animation: fadein 0.5s;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.mobile-navigation {
  @extend .mobile-only;

  ul {
    width: auto;
  }
}

$mobile-sidebar-width: 17em;

.content.navbar-deployed {
  position: relative;
  @include media-query("medium") {
    left: 0;
  }
  left: $mobile-sidebar-width;
}

.mobile-navbar {
  display: none;
  position:fixed;
  width: $mobile-sidebar-width;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  background: white;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 5px #00000060;

  &.navbar-deployed {
    display: block;
  }

  .navbar-header {
    margin: 0;
    padding: 15px;
  }

  .navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .back-arrow {
    display: inline;
  }

  & > .sidebar {
    padding: 5px;
  }

  .page-link {
    text-decoration: none;
    display: block;
    color: white;
    font-family: $main-font-family;
    font-size: $foxtrot;
    font-weight: bold;
    margin: 0;
    padding: 3px 7px;
    text-transform: uppercase;
    background-color: $sr-blue;
    &:hover {
      background-color: lighten($sr-blue, 10)
    }
  }
}
