
$link-left-padding: 0.5em;
$indent-space: 1em;
$vertical-line-offset: -0.3em;

@mixin selected {
    background-color: #0000FF10;
    color: $sr-blue;
    font-weight: bold;
}

@mixin category($nesting-depth) {
  &>li:before {
    position:absolute;
    content:"";
    height: 100%;
    width: 10px;
    left: ($nesting-depth * $indent-space + $vertical-line-offset);
    float: left;
    border-left: solid 1px #cccccc;
  }
  &>li > a {
    margin-left: ($nesting-depth * $indent-space);
  }
  &>li.selected > a {
    @include selected
  }
}

.sidebar {
  ul {
    margin-left: 0;
    padding-left: 0;
  }
  li {
    font-size: $foxtrot;
    list-style-type: none;
    position: relative;

    a {
      display: block;
      border-radius: 4px;
      &:hover {
        background-color: #0000FF10;
      }
      &::before {
        content:"";
        padding-left: $link-left-padding;
      }
      text-decoration: none;
    }
  }
  // Category
  & > li {
    @include category(0);
    & > a {
      border-bottom: solid 1px #cccccc;
      padding-left: 0;
      font-weight: bold;
      padding-bottom: 1px;
      margin-top: 1px;
      margin-bottom: 2px;
    }
    &.selected > a {
      @include selected
    }
  }

  // Sub-Category
  & > li > ul {
    @include category(1);
  }

  // Sub-Sub-Category
  & > li > ul > li > ul {
    @include category(2);
  }

  // Sub-Sub-Sub-Category
  & > li > ul > li > ul > li > ul {
    @include category(3);
  }
  .mobile-only & > li:not(.expanded) > ul {
    display: none;
  }
}
.mobile-only {
  background-color: white;
}