---
layout: default
---
<div class="header-card">
  <div class="fixed-width">
    <h1>Documentation</h1>
  </div>
</div>
<div class="mobile-only mobile-index">
  {% include sidebar.html %}
</div>
<div class="main">
  <div class="row fixed-width">
    <div class="column m-3-12 desktop-only">
      {% include sidebar.html %}
    </div>
    <div class="column m-9-12 doc">
      {{ content }}

      <table>
        <tr>
          <th></th>
          <th>Release Date</th>
          <th>Download</th>
          <th>Licences</th>
        </tr>
        {% for kit_version in site.data.kit_versions %}
          <tr>
            <td>
              {% if forloop.first %}
              <code><strong>{{ kit_version.version }}</strong></code>
              {% else %}
              <code>{{ kit_version.version }}</code>
              {% endif %}
            </td>
            <td>{{ kit_version.released | date_to_string }}</td>
            <td><a href="https://kit-downloads.studentrobotics.org/kit-software/{{ kit_version.version }}/srobo-robot-{{ kit_version.version }}.img.xz">Download <code>{{ kit_version.version }}</code></a></td>
            <td><a href="https://kit-downloads.studentrobotics.org/kit-software/{{ kit_version.version }}/srobo-robot-{{ kit_version.version }}-licences">Licences</a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
